/*
Theme Name: Node
Theme URI: http://node.edge-themes.com
Description: Modern & Clean Multi-Concept Theme
Author: Edge Themes
Author URI: http://demo.edge-themes.com
Version: 1.3
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/




a.edgtf-search-opener {
    display: none !important;
}

.edgtf-main-menu>ul>li>a{
	font-size:15px !important;
}

