@media only screen and (max-width: 1400px) {
  .edgtf-blog-holder article .edgtf-post-info > div {
    line-height: 1.8em;
    padding-right: 7px;
    margin-right: 7px;
  }
}

@media only screen and (max-width: 1400px) {
  .edgtf-blog-holder.edgtf-masonry-full-width {
    margin-right: 45px;
    margin-left: 45px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: calc((100% - 20px * 2) / 3);
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article {
    margin-bottom: 20px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-gutter {
    width: 20px;
  }
  .page-template-blog-masonry-full-width .edgtf-pagination-holder .edgtf-pagination li.edgtf-pagination-prev {
    left: 36px;
  }
  .page-template-blog-masonry-full-width .edgtf-pagination-holder .edgtf-pagination li.edgtf-pagination-next {
    right: 39px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-image,
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-text {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-text-inner {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry article,
  .edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
    width: 49%;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width {
    margin-right: 20px;
    margin-left: 20px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: calc((100% - 10px * 2) / 2);
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article {
    margin-bottom: 10px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-gutter {
    width: 10px;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post,
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post,
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 49.875%;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n),
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n),
  .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1),
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1),
  .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-sidebar {
    margin-top: 50px;
  }
  .page-template-blog-masonry-full-width .edgtf-pagination-holder .edgtf-pagination li.edgtf-pagination-prev {
    left: 21px;
  }
  .page-template-blog-masonry-full-width .edgtf-pagination-holder .edgtf-pagination li.edgtf-pagination-next {
    right: 23px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-blog-holder.edgtf-masonry-full-width,
  .edgtf-blog-holder.edgtf-blog-type-masonry {
    margin-right: 20px;
    margin-left: 20px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer,
  .edgtf-blog-holder.edgtf-blog-type-masonry article,
  .edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-blog-type-masonry article {
    margin-bottom: 30px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-gutter,
  .edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-gutter {
    width: 0;
  }
  .edgtf-author-description .edgtf-author-description-image {
    float: none;
    margin: 0 auto 15px;
  }
  .edgtf-author-description .edgtf-author-description-text-holder {
    padding-left: 0;
  }
  .edgtf-comment-list li.depth-2 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-3 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-4 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-5 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-6 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-7 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-8 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-9 .edgtf-comment {
    padding-left: 20px;
  }
  .edgtf-comment-list li.depth-10 .edgtf-comment {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .edgtf-related-posts-holder .edgtf-related-posts-title h3:before,
  .edgtf-related-posts-holder .edgtf-related-posts-title h3:after {
    display: none !important;
  }
  .comment-edit-link {
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */