.edgtf-blog-holder article {
  margin-bottom: 57px;
}

.edgtf-blog-holder article .edgtf-post-image a {
  display: block;
  position: relative;
  overflow: hidden;
}

.edgtf-blog-holder article .edgtf-post-image a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.edgtf-blog-holder article .edgtf-post-image a:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.edgtf-blog-holder article .edgtf-post-image img {
  vertical-align: middle;
}

.edgtf-blog-holder article .edgtf-post-text {
  position: relative;
}

.edgtf-blog-holder article .edgtf-post-text-inner > h1:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h2:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h3:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h4:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h5:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h6:not(.edgtf-post-title) {
  margin: 15px 0;
}

.edgtf-blog-holder article .edgtf-post-excerpt {
  margin-bottom: 0;
}

.edgtf-blog-holder article .edgtf-post-title {
  margin-bottom: 7px;
}

.edgtf-blog-holder article.sticky .edgtf-post-title a {
  color: #ffc000;
}

.edgtf-blog-holder article .edgtf-post-info {
  margin-bottom: 26px;
  font-size: 12px;
  line-height: 14px;
  font-family: Poppins, serif;
}

.edgtf-blog-holder article .edgtf-post-info > div {
  display: inline-block;
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #ffc000;
}

.edgtf-blog-holder article .edgtf-post-info > div a {
  color: #888;
}

.edgtf-blog-holder article .edgtf-post-info > div:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.edgtf-blog-holder article .edgtf-blog-read-more {
  margin-top: 17px;
  display: block;
  color: #000;
  font-weight: 500;
}

.edgtf-blog-holder article .edgtf-post-info-bottom {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-top: 1px dashed #c5c5c5;
  padding: 18px 0 0;
  margin-top: 65px;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left {
  float: left;
  width: 50%;
  color: #ffc000;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left a {
  font-family: Poppins, serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffc000;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
  float: right;
  text-align: right;
  width: 50%;
}

.edgtf-blog-holder article.format-link .edgtf-post-info, .edgtf-blog-holder article.format-quote .edgtf-post-info {
  margin-bottom: 38px;
}

.edgtf-blog-holder article.format-link .edgtf-post-text, .edgtf-blog-holder article.format-quote .edgtf-post-text {
  padding: 28px 30px 21px;
  position: relative;
}

.edgtf-blog-holder article .edgtf-post-mark {
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
}

.edgtf-blog-holder article .edgtf-post-mark.edgtf-quote-mark {
  font-size: 30px;
  padding: 24px 38px 0 0;
}

.edgtf-blog-holder article .edgtf-post-mark.edgtf-link-mark {
  font-size: 25px;
  padding: 24px 45px 0 0;
}

.edgtf-blog-holder article .edgtf-quote-author {
  font-family: Poppins, serif;
  font-weight: 500;
  color: #000;
  display: block;
}

.edgtf-blog-holder article:hover .edgtf-post-mark {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  color: #ffc000;
}

.edgtf-blog-holder:not(.edgtf-blog-single) article .edgtf-post-text {
  padding: 33px 45px 18px;
  position: relative;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.edgtf-blog-holder:not(.edgtf-blog-single) article.format-link .edgtf-post-info-bottom, .edgtf-blog-holder:not(.edgtf-blog-single) article.format-quote .edgtf-post-info-bottom {
  border-top-color: #bfbfbf;
  border-bottom: 0;
  margin-top: 35px;
}

.edgtf-blog-holder.edgtf-blog-single article:not(.format-audio) .edgtf-post-image,
.edgtf-blog-holder.edgtf-blog-single article .edgtf-blog-audio-holder {
  margin-bottom: 28px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom {
  border-bottom: 1px dashed #c5c5c5;
  padding-bottom: 18px;
}

.edgtf-blog-holder.edgtf-blog-single article.format-link .edgtf-post-text, .edgtf-blog-holder.edgtf-blog-single article.format-quote .edgtf-post-text {
  background-color: #f6f6f6;
  margin-bottom: 30px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry {
  margin-bottom: 20px;
  overflow: visible !important;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-appeared {
  opacity: 1;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article {
  display: block;
  width: 32%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 20px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-info {
  margin-bottom: 20px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-text {
  padding: 34px 37px 44px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-text {
  padding: 47px 37px 33px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-text {
  padding: 47px 37px 33px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-mark.edgtf-quote-mark {
  padding: 11px 12px 0 0px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-mark.edgtf-link-mark {
  font-size: 20px;
  padding: 17px 17px 0 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-quote-author {
  color: inherit;
  margin-top: 15px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
  width: 32%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-gutter {
  width: 2%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry #infscr-loading {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-post-title {
  text-transform: none;
}

.edgtf-blog-holder.edgtf-masonry-full-width {
  margin-right: 70px;
  margin-left: 70px;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer,
.edgtf-blog-holder.edgtf-masonry-full-width article {
  width: calc(25% - 3 / 4 * 30px);
}

.edgtf-blog-holder.edgtf-masonry-full-width article {
  margin-bottom: 30px;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-gutter {
  width: 30px;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-post-title {
  margin-bottom: 7px;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-post-text {
  background: #fff;
}

.edgtf-blog-holder.edgtf-blog-single article {
  margin-bottom: 30px;
}

.edgtf-blog-infinite-scroll-button {
  display: none;
}

.edgtf-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.edgtf-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.edgtf-filter-blog-holder li.edgtf-active {
  color: #ffc000;
}

/* #Blog Split Column - start
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-image,
.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-text {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-text-inner {
  padding-left: 5px;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-info-bottom {
  margin-top: 0;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
  float: none;
  width: 100%;
  text-align: left;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-title {
  margin-bottom: 11px;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article .edgtf-post-text {
  padding: 30px;
}

.edgtf-blog-holder.edgtf-blog-type-split-column .edgtf-blog-audio-holder {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* #Blog Split Column - end
========================================================================== */
/* #Audio styles - start
   ========================================================================== */
.edgtf-blog-audio-holder {
  width: 100%;
  height: 44px;
}

.edgtf-blog-audio-holder .mejs-container {
  height: 44px !important;
  background: #1d1d1d;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls {
  height: 37px !important;
  padding: 0 13px 0 10px;
  box-sizing: border-box;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  color: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-button button {
  background-image: url(img/controls.svg);
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  margin: 5px 8px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-mute button {
  margin: 7px 4px 7px 2px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls a.mejs-horizontal-volume-slider {
  margin-top: 1px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  padding: 10px 8px 0 6px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #ffc000;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail span,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail a {
  height: 5px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  margin-top: 7px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-container,
.edgtf-blog-audio-holder .mejs-container .mejs-controls {
  background: transparent;
}

/* #Audio styles - end
========================================================================== */
/* #Blog Single - start
========================================================================== */
.edgtf-author-description {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.edgtf-author-description .edgtf-author-description-image {
  float: left;
  width: 167px;
  border-radius: 100%;
  margin-right: 28px;
  overflow: hidden;
}

.edgtf-author-description .edgtf-author-description-image img {
  vertical-align: middle;
}

.edgtf-author-description .edgtf-author-description-text-holder {
  padding-left: 195px;
  position: relative;
}

.edgtf-author-description .edgtf-author-text {
  padding-top: 6px;
}

.edgtf-author-description .edgtf-author-text p:last-child {
  margin: 0;
}

.edgtf-single-tags-holder {
  margin: 20px 0;
}

.edgtf-single-tags-holder .edgtf-single-tags-title {
  display: inline-block;
  margin-right: 5px;
}

.edgtf-single-tags-holder .edgtf-tags {
  display: inline-block;
}

.edgtf-single-tags-holder .edgtf-tags a {
  margin: 0 5px;
}

.edgtf-blog-single-navigation {
  position: relative;
}

.edgtf-blog-single-navigation .edgtf-blog-single-navigation-inner {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev,
.edgtf-blog-single-navigation .edgtf-blog-single-next {
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev a,
.edgtf-blog-single-navigation .edgtf-blog-single-next a {
  color: #565656;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev {
  float: left;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next {
  float: right;
}

.edgtf-single-links-pages {
  margin-top: 65px;
}

.edgtf-single-links-pages .edgtf-single-links-pages-inner > a,
.edgtf-single-links-pages .edgtf-single-links-pages-inner > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

/* #Blog Single - end
========================================================================== */
/* Related Posts - begin
========================================================================== */
.edgtf-related-posts-holder {
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.edgtf-related-posts-holder .edgtf-related-posts-title {
  margin-bottom: 20px;
}

.edgtf-related-posts-holder .edgtf-related-post {
  width: 24.8125%;
  margin-right: 0.25%;
  display: inline-block;
  float: left;
}

.edgtf-related-posts-holder .edgtf-related-post:nth-child(4n) {
  margin-right: 0;
}

.edgtf-related-posts-holder .edgtf-related-post img {
  display: block;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image {
  margin-bottom: 16px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-title,
.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-info {
  margin-bottom: 6px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-info {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post,
.edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post {
  width: 33.16%;
  margin-right: 0.25%;
}

.edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(3n),
.edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(3n) {
  margin-right: 0;
}

.edgtf-slick-slider-navigation-style.edgtf-blog-gallery .slick-list {
  padding: 0;
}

.edgtf-slick-slider-navigation-style.edgtf-blog-gallery .edgtf-slick-prev,
.edgtf-slick-slider-navigation-style.edgtf-blog-gallery .edgtf-slick-next {
  color: #fff;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.edgtf-slick-slider-navigation-style.edgtf-blog-gallery .edgtf-slick-prev:hover,
.edgtf-slick-slider-navigation-style.edgtf-blog-gallery .edgtf-slick-next:hover {
  color: #000;
}

.edgtf-slick-slider-navigation-style.edgtf-blog-gallery .edgtf-slick-prev {
  left: 16px;
  right: auto;
}

.edgtf-slick-slider-navigation-style.edgtf-blog-gallery .edgtf-slick-next {
  right: 16px;
  left: auto;
}

.page-template-blog-masonry-full-width .edgtf-pagination-holder .edgtf-pagination li.edgtf-pagination-prev {
  left: 61px;
}

.page-template-blog-masonry-full-width .edgtf-pagination-holder .edgtf-pagination li.edgtf-pagination-next {
  right: 64px;
}

/* Related Posts - end
========================================================================== */

/*# sourceMappingURL=blog.css.map */