/* generated in /home/webpeanu/public_html/webpeanut-demo/wp-content/themes/node/assets/custom-styles/general-custom-styles.php node_edge_design_styles function */
.edgtf-preload-background { background-image: url(https://webpeanut.com/webpeanut-demo/wp-content/themes/node/assets/img/preload_pattern.png) !important;}

/* generated in /home/webpeanu/public_html/webpeanut-demo/wp-content/themes/node/assets/custom-styles/general-custom-styles.php node_edge_design_styles function */
.edgtf-boxed .edgtf-wrapper { background-attachment: fixed;}

/* generated in /home/webpeanu/public_html/webpeanut-demo/wp-content/themes/node/assets/custom-styles/general-custom-styles.php node_edge_smooth_page_transition_styles function */
.edgtf-smooth-transition-loader { background-color: #ffffff;}

/* generated in /home/webpeanu/public_html/webpeanut-demo/wp-content/themes/node/framework/modules/fullscreenmenu/custom-styles/fullscreen-menu.php node_edge_fullscreen_menu_general_styles function */
.edgtf-fullscreen-menu-holder { background-image: url(http://node.edge-themes.com/wp-content/uploads/2016/03/pattern-full-screen.png);background-position: center 0;background-repeat: no-repeat;}


        
        
        
        
	            
        
        

        
        
        
        
        
        
        
        
        
                    .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner > ul > li:last-child > a,
            .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner > ul > li > ul > li:last-child > a,
            .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner > ul > li > ul > li > ul > li:last-child > a{
            border-bottom:1px solid transparent;
            }

                            .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner ul li,
            .header-widget.widget_nav_menu ul.menu li ul li{
	        border-bottom-width:1px;
	        border-bottom-style:solid;
                        }
        
        
        
        
        
        
        
        
        
        
        
                
        
                
        