@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /home/webpeanu/public_html/webpeanut-demo/wp-content/themes/node/assets/custom-styles/general-custom-styles-responsive.php node_edge_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder { height: auto !important;min-height: 400px;}

}

@media only screen and (max-width: 480px){
	/* generated in /home/webpeanu/public_html/webpeanut-demo/wp-content/themes/node/assets/custom-styles/general-custom-styles-responsive.php node_edge_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder { height: auto !important;min-height: 400px;}

}