/* ==========================================================================
# Woocommerce style - begin
========================================================================== */
@font-face {
  font-family: 'star';
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Woocommerce product list - begin
========================================================================== */
.woocommerce:not(.edgtf-shop-masonry) del,
.edgtf-woocommerce-page del {
  color: #c6c6c6;
}

.woocommerce:not(.edgtf-shop-masonry) .amount,
.edgtf-woocommerce-page .amount {
  font-size: 21px;
  font-family: "Poppins",serif;
  font-weight: 500;
}

.woocommerce:not(.edgtf-shop-masonry) .woocommerce-result-count,
.woocommerce:not(.edgtf-shop-masonry) .woocommerce-ordering,
.edgtf-woocommerce-page .woocommerce-result-count,
.edgtf-woocommerce-page .woocommerce-ordering {
  width: 50%;
  height: 52px;
  margin: 0 0 27px 0;
  display: inline;
  float: left;
  font-family: Poppins,serif;
}

.woocommerce:not(.edgtf-shop-masonry) .woocommerce-result-count,
.edgtf-woocommerce-page .woocommerce-result-count {
  line-height: 52px;
  font-weight: 500;
  color: #1b0101;
}

.woocommerce:not(.edgtf-shop-masonry) .edgtf-product-list-product-title,
.edgtf-woocommerce-page .edgtf-product-list-product-title {
  margin-top: 12px;
}

.woocommerce:not(.edgtf-shop-masonry) .full_width .woocommerce-result-count,
.edgtf-woocommerce-page .full_width .woocommerce-result-count {
  position: relative;
  left: 45px;
}

.woocommerce:not(.edgtf-shop-masonry) .full_width .woocommerce-ordering,
.edgtf-woocommerce-page .full_width .woocommerce-ordering {
  position: relative;
  right: 45px;
}

.woocommerce:not(.edgtf-shop-masonry) ins,
.woocommerce:not(.edgtf-shop-masonry) .price > .amount,
.edgtf-woocommerce-page ins,
.edgtf-woocommerce-page .price > .amount {
  text-decoration: none;
  color: #ffc000;
  font-size: 21px;
}

.woocommerce:not(.edgtf-shop-masonry) del .amount,
.edgtf-woocommerce-page del .amount {
  font-size: 18px;
}

.woocommerce:not(.edgtf-shop-masonry) .products,
.edgtf-woocommerce-page .products {
  list-style: none;
  margin: 0 0 26px;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.woocommerce:not(.edgtf-shop-masonry) .product,
.edgtf-woocommerce-page .product {
  position: relative;
  float: left;
  text-align: left;
  border-style: solid;
  border-color: #e1e2e5;
}

.woocommerce:not(.edgtf-shop-masonry) .product img:not(.avatar),
.edgtf-woocommerce-page .product img:not(.avatar) {
  display: block;
  width: 100%;
}

.woocommerce:not(.edgtf-shop-masonry) .product .price,
.edgtf-woocommerce-page .product .price {
  display: block;
  width: 100%;
}

.woocommerce:not(.edgtf-shop-masonry) .product .edgtf-product-badge,
.edgtf-woocommerce-page .product .edgtf-product-badge {
  position: absolute;
  display: table;
  top: 0;
  right: 0;
  height: 33px;
  line-height: 33px;
  text-align: center;
  z-index: 100;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  font-family: 'Poppins',serif;
}

.woocommerce:not(.edgtf-shop-masonry) .product .edgtf-product-badge.edgtf-onsale,
.edgtf-woocommerce-page .product .edgtf-product-badge.edgtf-onsale {
  width: 66px;
  text-transform: uppercase;
  font-weight: 600;
}

.woocommerce:not(.edgtf-shop-masonry) .product .edgtf-product-badge.edgtf-out-of-stock,
.edgtf-woocommerce-page .product .edgtf-product-badge.edgtf-out-of-stock {
  width: 110px;
  font-weight: 500;
}

.woocommerce:not(.edgtf-shop-masonry) .product .edgtf-product-badge-inner,
.edgtf-woocommerce-page .product .edgtf-product-badge-inner {
  display: table-cell;
  vertical-align: middle;
}

.woocommerce:not(.edgtf-shop-masonry) .product .edgtf-product-shader,
.edgtf-woocommerce-page .product .edgtf-product-shader {
  background-color: rgba(29, 29, 29, 0.47);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.woocommerce:not(.edgtf-shop-masonry) .product:hover .edgtf-product-shader,
.edgtf-woocommerce-page .product:hover .edgtf-product-shader {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.woocommerce:not(.edgtf-shop-masonry) .edgtf-product-list-image-wrapper,
.edgtf-woocommerce-page .edgtf-product-list-image-wrapper {
  position: relative;
  overflow: hidden;
}

.woocommerce:not(.edgtf-shop-masonry) .edgtf-add-to-cart-holder,
.edgtf-woocommerce-page .edgtf-add-to-cart-holder {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 45px;
}

.woocommerce:not(.edgtf-shop-masonry) .added_to_cart,
.woocommerce:not(.edgtf-shop-masonry) .add_to_cart_button,
.edgtf-woocommerce-page .added_to_cart,
.edgtf-woocommerce-page .add_to_cart_button {
  position: relative;
  font-size: 22px;
  border: none;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  padding: 8px 5px;
  background-color: #000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.woocommerce:not(.edgtf-shop-masonry) .added_to_cart:hover,
.woocommerce:not(.edgtf-shop-masonry) .add_to_cart_button:hover,
.edgtf-woocommerce-page .added_to_cart:hover,
.edgtf-woocommerce-page .add_to_cart_button:hover {
  width: 145px;
}

.woocommerce:not(.edgtf-shop-masonry) .added_to_cart .edgtf-btn-text,
.woocommerce:not(.edgtf-shop-masonry) .add_to_cart_button .edgtf-btn-text,
.edgtf-woocommerce-page .added_to_cart .edgtf-btn-text,
.edgtf-woocommerce-page .add_to_cart_button .edgtf-btn-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 45px;
  font-size: 12px;
  display: block;
  white-space: pre;
  word-wrap: break-word;
  text-transform: none;
}

.woocommerce:not(.edgtf-shop-masonry) .added_to_cart .edgtf-icon-font-elegant,
.woocommerce:not(.edgtf-shop-masonry) .add_to_cart_button .edgtf-icon-font-elegant,
.edgtf-woocommerce-page .added_to_cart .edgtf-icon-font-elegant,
.edgtf-woocommerce-page .add_to_cart_button .edgtf-icon-font-elegant {
  position: absolute;
  left: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.woocommerce:not(.edgtf-shop-masonry) .added_to_cart .edgtf-icon-font-elegant:before,
.woocommerce:not(.edgtf-shop-masonry) .add_to_cart_button .edgtf-icon-font-elegant:before,
.edgtf-woocommerce-page .added_to_cart .edgtf-icon-font-elegant:before,
.edgtf-woocommerce-page .add_to_cart_button .edgtf-icon-font-elegant:before {
  position: relative;
  top: -1px;
}

.woocommerce:not(.edgtf-shop-masonry) .add_to_cart_button.added,
.edgtf-woocommerce-page .add_to_cart_button.added {
  display: none;
}

/*Image scaling not for single products*/
.edgtf-woocommerce-page:not(.single-product) .product img:not(.avatar),
.woocommerce:not(.edgtf-shop-masonry):not(.single-product) .product img:not(.avatar) {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.edgtf-woocommerce-page:not(.single-product) .product:hover img:not(.avatar),
.woocommerce:not(.edgtf-shop-masonry):not(.single-product) .product:hover img:not(.avatar) {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.woocommerce.columns-4:not(.edgtf-shop-masonry) .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4:not(.edgtf-shop-masonry) .products .product {
  width: calc(25% - 22.5px);
  margin-right: 30px;
  margin-bottom: 54px;
}

.woocommerce.columns-4:not(.edgtf-shop-masonry) .products .product:nth-child(4n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4:not(.edgtf-shop-masonry) .products .product:nth-child(4n) {
  margin-right: 0;
}

.woocommerce.columns-4:not(.edgtf-shop-masonry) .products .product:nth-child(4n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4:not(.edgtf-shop-masonry) .products .product:nth-child(4n+1) {
  clear: both;
}

.woocommerce.columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product {
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 54px;
}

.woocommerce.columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n) {
  margin: 0;
}

.woocommerce.columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(4n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-4:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
  clear: none;
}

.woocommerce.columns-3:not(.edgtf-shop-masonry) .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3:not(.edgtf-shop-masonry) .products .product {
  width: calc(33.33% - 20px);
  margin-right: 30px;
  margin-bottom: 54px;
}

.woocommerce.columns-3:not(.edgtf-shop-masonry) .products .product:nth-child(3n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3:not(.edgtf-shop-masonry) .products .product:nth-child(3n) {
  margin: 0;
}

.woocommerce.columns-3:not(.edgtf-shop-masonry) .products .product:nth-child(3n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3:not(.edgtf-shop-masonry) .products .product:nth-child(3n+1) {
  clear: both;
}

.woocommerce.columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product,
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product {
  width: calc(50% - 15px);
  margin-right: 30px;
  margin-bottom: 54px;
}

.woocommerce.columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n) {
  margin-right: 0;
}

.woocommerce.columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
  clear: both;
}

.woocommerce.columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.edgtf-woocommerce-page.edgtf-woocommerce-columns-3:not(.edgtf-shop-masonry) .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: none;
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce pagination - begin
========================================================================== */
.woocommerce-pagination {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 28px 0;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.woocommerce-pagination .edgtf-woocommerce-pagination-inner {
  width: 1300px;
  margin: 0 auto;
}

.woocommerce-pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  width: 44px;
  height: 44px;
  line-height: 44px;
  color: #1b0101;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  text-shadow: none;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  box-sizing: content-box;
  font-family: "Poppins",serif;
}

.woocommerce-pagination .page-numbers.prev {
  float: left;
}

.woocommerce-pagination .page-numbers.next {
  float: right;
}

.woocommerce-pagination .page-numbers.prev {
  text-align: left;
  font-size: 25px;
  color: #000;
}

.woocommerce-pagination .page-numbers.next {
  text-align: right;
  font-size: 25px;
  color: #000;
}

.woocommerce-pagination .page-numbers.current {
  color: #959595;
}

.woocommerce-pagination .page-numbers:hover, .woocommerce-pagination .page-numbers.current:hover {
  color: #959595;
}

@media only screen and (min-width: 1400px) {
  .edgtf-grid-1300 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .edgtf-grid-1200 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .edgtf-grid-1000 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 1000px;
  }
}

@media only screen and (min-width: 1000px) {
  .edgtf-grid-800 .woocommerce-pagination > .edgtf-woocommerce-pagination-inner {
    width: 800px;
  }
}

/* Woocommerce pagination - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
.edgtf-single-product-related-products-holder {
  margin-top: 63px;
}

.edgtf-single-product-related-products-holder .products {
  margin-top: 50px;
}

.variations_button {
  display: inline-block;
}

.edgtf-single-product-wrapper-top {
  margin-top: 30px;
}

.edgtf-single-product-wrapper-top .edgtf-social-share-holder.edgtf-list .edgtf-social-share-title {
  font-weight: 600;
  color: #1b0101;
}

.edgtf-single-product-wrapper-top .edgtf-social-share-holder.edgtf-list li a {
  color: #000;
  font-size: 14px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.edgtf-single-product-wrapper-top .edgtf-social-share-holder.edgtf-list li a:hover {
  color: #ffc000;
}

.single_add_to_cart_button {
  margin-left: 30px;
}

.edgtf-single-product-wrapper-top .out-of-stock {
  font-size: 18px;
  line-height: 1.5555555555555555555555555555556em;
  /* 33px/17px */
  font-weight: 600;
}

.edgtf-single-product-wrapper-top .edgtf-onsale {
  left: 0;
  right: auto;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav {
  text-align: center;
  font-size: 0;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li {
  float: none;
  display: inline-block;
  position: relative;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li a {
  color: #888;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-active a, .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-hover a {
  color: #ffc000;
  border-bottom-color: #ffc000;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-active h4, .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li.ui-state-hover h4 {
  color: inherit;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .wc-tab > h2 {
  display: none;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .wc-tab h2 {
  font-size: 18px;
  line-height: 1.55em;
  margin-bottom: 37px;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container {
  padding: 20px 50px;
}

.edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container:not(#tab-reviews) {
  text-align: center;
}

.edgtf-single-product-wrapper-top .woocommerce-review-link {
  font-size: 12px;
  color: #757575;
  font-family: "Poppins",serif;
  margin-left: 10px;
}

.woocommerce .related.products h2 {
  margin-bottom: 40px;
}

.woocommerce .edgtf-single-product-summary .price {
  margin-top: 45px;
}

.woocommerce .edgtf-single-product-summary ins .amount,
.woocommerce .edgtf-single-product-summary .price > .amount {
  text-decoration: none;
  color: #ffc000;
  font-size: 33px;
}

.woocommerce .edgtf-single-product-summary del .amount {
  font-size: 21px;
}

.edgtf-single-product-images {
  width: 47%;
  margin-right: 4%;
  display: inline-block;
  float: left;
  margin-bottom: 55px;
}

.edgtf-single-product-images a {
  display: inline-block;
  vertical-align: middle;
}

.edgtf-single-product-images .thumbnails a {
  float: left;
  width: calc(33.33% - 2 * 20px / 3);
  margin-right: 20px;
  margin-top: 20px;
}

.edgtf-single-product-images .thumbnails a:nth-child(3n) {
  margin-right: 0;
}

.edgtf-single-product-images .edgtf-product-badge.edgtf-onsale {
  background-color: #ffc000;
}

.edgtf-single-product-summary {
  width: 49%;
  display: inline-block;
  float: left;
}

.edgtf-single-product-summary .edgtf-single-product-title {
  margin-bottom: 10px;
  line-height: 1em;
}

.edgtf-single-product-summary .price {
  margin-bottom: 22px;
}

.edgtf-single-product-summary .cart,
.edgtf-single-product-summary .out-of-stock {
  margin-top: 40px;
  padding-bottom: 50px;
  border-bottom: 1px dashed #d9d9d9;
}

.edgtf-single-product-summary .product_meta {
  margin-top: 40px;
  margin-bottom: 32px;
}

.edgtf-single-product-summary .product_meta > span {
  font-size: 14px;
  color: #000;
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
}

.edgtf-single-product-summary .product_meta > span span,
.edgtf-single-product-summary .product_meta > span a {
  color: #888;
  text-transform: capitalize;
  font-weight: 400;
}

.edgtf-single-product-summary .edgtf-social-share-holder {
  padding: 30px 0;
  border-top: 1px solid #d9d9d9;
}

.edgtf-woocommerce-page .edgtf-tabs {
  clear: both;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding-bottom: 15px;
  padding-top: 54px;
}

.edgtf-woocommerce-page .edgtf-product-single-navigation .edgtf-column {
  min-height: 1px;
}

.edgtf-woocommerce-page .edgtf-product-single-navigation .edgtf-column .edgtf-column-inner {
  padding: 29.5px 0;
}

.edgtf-woocommerce-page .edgtf-product-single-navigation a {
  color: #232323;
  font-weight: 500;
  font-family: "Poppins",serif;
}

.edgtf-woocommerce-page .edgtf-container-bottom-navigation {
  padding: 2px 0;
  background-color: #f4f4f4;
}

.edgtf-woocommerce-page .edgtf-product-single-back-to-btn {
  text-align: center;
}

.edgtf-woocommerce-page .edgtf-product-single-next {
  text-align: right;
}

.edgtf-woocommerce-page .edgtf-product-single-next span {
  float: right;
  font-size: 25px;
}

.edgtf-woocommerce-page .edgtf-product-single-prev {
  text-align: left;
}

.edgtf-woocommerce-page .edgtf-product-single-prev span {
  float: left;
  font-size: 25px;
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
.edgtf-woocommerce-page .edgtf-quantity-buttons {
  display: inline-block;
  position: relative;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-minus,
.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-plus {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-minus:hover,
.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-plus:hover {
  color: #ffc000;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-minus {
  padding-right: 16px;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-plus {
  padding-left: 16px;
}

.edgtf-woocommerce-page .edgtf-quantity-buttons .edgtf-quantity-input {
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: #f4f4f4;
  text-align: center;
  color: #000;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Poppins",serif;
  border-radius: 50%;
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce message - begin
========================================================================== */
.edgtf-woocommerce-page .woocommerce-message,
.edgtf-woocommerce-page .woocommerce-info,
.edgtf-woocommerce-page .woocommerce-error {
  margin-bottom: 25px;
  position: relative;
  display: block;
  padding: 8px 40px;
  background-color: #fcfcfc;
  line-height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
}

.edgtf-woocommerce-page .woocommerce-message a {
  float: right;
}

.cross-sells {
  margin: 20px 0;
}

.cross-sells h2 {
  margin-bottom: 15px;
}

.cross-sells li {
  width: calc(25% - 30px / 4);
  margin-right: 10px;
}

.cross-sells li:last-child {
  margin-right: 0;
}

/* Woocommerce message - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
.edgtf-woocommerce-page table td {
  vertical-align: middle;
}

.edgtf-woocommerce-page td.product-thumbnail img {
  width: 85px;
  vertical-align: middle;
}

.edgtf-woocommerce-page td.product-remove {
  border-right: 1px solid #e0dede;
}

.edgtf-woocommerce-page td.actions {
  padding: 30px 0;
}

.edgtf-woocommerce-page td.actions .coupon,
.edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update {
  float: left;
  width: 50%;
  display: inline-block;
  text-align: left;
  font-size: 0;
}

.edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update {
  text-align: right;
}

.edgtf-woocommerce-page .coupon label {
  display: none;
}

.edgtf-woocommerce-page .coupon input[type="text"] {
  width: 285px;
  padding: 9px 17px;
  vertical-align: top;
  border-radius: 45px;
  margin-right: 15px;
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
.edgtf-woocommerce-page .edgtf-shipping-calculator {
  width: 100%;
  display: inline-block;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .form-row-last {
  margin-right: 0;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .form-row-wide {
  width: 100%;
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
.edgtf-woocommerce-page .edgtf-cart-totals {
  width: 100%;
  display: inline-block;
  margin: 40px 0;
}

.edgtf-woocommerce-page .edgtf-cart-totals .wc-proceed-to-checkout {
  margin-top: 30px;
}

.edgtf-woocommerce-page .edgtf-cart-totals table tr {
  padding: 18px 7px;
  background-color: #fcfcfc;
}

.edgtf-woocommerce-page .edgtf-cart-totals table th {
  border: none;
  padding: 18px 7px;
}

.edgtf-woocommerce-page .edgtf-total-pricing {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  margin-top: 10px;
}

.edgtf-woocommerce-page .edgtf-total-pricing > div {
  padding: 20px 0;
  width: 33.33%;
  display: inline-block;
  float: left;
  text-align: left;
  box-sizing: border-box;
}

.edgtf-woocommerce-page .edgtf-total-pricing > div.shipping div,
.edgtf-woocommerce-page .edgtf-total-pricing > div h4 {
  display: inline-block;
  float: left;
  padding-right: 10px;
}

.edgtf-woocommerce-page .edgtf-total-pricing > div.cart-subtotal {
  padding-left: 23px;
}

.edgtf-woocommerce-page .edgtf-two-columns-50-50-inner .edgtf-column:last-child {
  text-align: right;
}

.edgtf-woocommerce-page .shipping-calculator-button {
  margin-bottom: 10px;
  display: inline-block;
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
.edgtf-woocommerce-page .woocommerce-checkout .col2-set:before,
.edgtf-woocommerce-page .woocommerce-checkout .col2-set:after {
  content: '';
  display: table;
}

.edgtf-woocommerce-page .woocommerce-checkout .col2-set:after {
  clear: both;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 {
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 h3,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 h3 {
  text-transform: none;
  font-size: 18px;
  margin-bottom: 35px;
  margin-top: 29px;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row-last,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row-last {
  margin-right: 0;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row-wide,
.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row.notes,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row-wide,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row.notes {
  width: 100%;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row label,
.edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row label {
  display: none;
}

.edgtf-woocommerce-page .woocommerce-checkout .col-2 {
  margin-left: 1%;
  margin-right: 0;
}

/* Woocommerce checkout - end
========================================================================== */
.edgtf-woocommerce-page input[type="text"],
.edgtf-woocommerce-page input[type="email"],
.edgtf-woocommerce-page input[type="tel"],
.edgtf-woocommerce-page input[type="password"],
.edgtf-woocommerce-page textarea {
  width: 100%;
  padding: 10px 17px;
  outline: 0;
  resize: none;
  font-family: inherit;
  line-height: 28px;
  background-color: #fcfcfc;
  color: #888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

/* Dropdown Shopping Cart */
.edgtf-shopping-cart-outer {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-inner {
  display: table;
  vertical-align: middle;
  height: 100%;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header .edgtf-header-cart {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 18px;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header .edgtf-header-cart i {
  color: #313131;
  font-size: 20px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header .edgtf-header-cart:hover i {
  color: #ffc000;
}

.edgtf-shopping-cart-outer .edgtf-shopping-cart-header .edgtf-cart-label {
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
  margin: 0 0 0 5px;
}

.edgtf-shopping-cart-outer .edgtf-cart-amount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9px;
  color: #c0c0c0;
  background-color: #000;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 18px;
  text-align: center;
  font-family: Poppins,serif;
}

.edgtf-shopping-cart-dropdown {
  background-color: #000;
  box-sizing: border-box;
  left: auto;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 1000;
  width: 215px;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.edgtf-shopping-cart-dropdown ul {
  margin: 0;
}

.edgtf-shopping-cart-dropdown ul li {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #393a3b;
  box-sizing: border-box;
}

.edgtf-shopping-cart-dropdown ul li a {
  display: block;
}

.edgtf-shopping-cart-dropdown ul li a:hover {
  color: #ffc000;
}

.edgtf-shopping-cart-dropdown ul li .edgtf-item-image-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 51px;
}

.edgtf-shopping-cart-dropdown ul li .edgtf-item-image-holder img {
  vertical-align: middle;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  vertical-align: top;
  padding-left: 15px;
  text-align: left;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left {
  float: left;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left a {
  line-height: 1em;
  font-size: 12px;
  color: #c0c0c0;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left:hover {
  color: #ffc000;
}

.edgtf-shopping-cart-dropdown .edgtf-item-info-holder .edgtf-item-left span {
  font-size: 12px;
  color: #c0c0c0;
}

.edgtf-shopping-cart-dropdown .edgtf-empty-cart {
  border: none;
  padding: 15px;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-list a > img {
  display: block;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom {
  padding: 7px 20px 10px;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .checkout,
.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .view-cart {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #c0c0c0;
  background: transparent;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .view-cart {
  float: left;
  padding-left: 0;
  /*&:hover{
                background-color: $first_main_color;
            }*/
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .checkout {
  float: right;
  padding-right: 0;
  /*&:hover{
                background-color: #262626;
            }*/
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .edgtf-subtotal-holder {
  margin: 0 0 4px 0;
  color: #c4c4c4;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .edgtf-subtotal-holder .edgtf-total-amount {
  color: #fff;
}

.edgtf-shopping-cart-dropdown .edgtf-cart-bottom .edgtf-subtotal-holder .edgtf-total-amount .amount {
  font-size: 15px;
}

.edgtf-shopping-cart-outer:hover .edgtf-shopping-cart-dropdown {
  display: block;
  visibility: visible;
  text-align: left;
}

.edgtf-top-bar .edgtf-shopping-cart-outer {
  float: left;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.edgtf-top-bar .edgtf-shopping-cart-outer .edgtf-shopping-cart-inner {
  display: block;
  height: 100%;
}

.edgtf-top-bar .edgtf-shopping-cart-outer .edgtf-shopping-cart-header {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-shopping-cart-header .edgtf-header-cart > i {
    color: #000000;
  }
  .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-shopping-cart-header .edgtf-header-cart > i {
    color: #ffffff;
  }
}

.edgtf-vertical-align-containers .edgtf-shopping-cart-header {
  padding-left: 10px;
  padding-right: 18px;
}

.edgtf-vertical-align-containers .edgtf-shopping-cart-header i {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.edgtf-vertical-menu-area .edgtf-shopping-cart-dropdown {
  right: auto;
}

.woocommerce input[type='button']:not(.edgtf-btn),
.woocommerce-page input[type='button']:not(.edgtf-btn),
.woocommerce input[type='submit']:not(.edgtf-btn),
.woocommerce-page input[type='submit']:not(.edgtf-btn) {
  background-color: #f4f4f4;
  border: 2px solid #f4f4f4;
  color: #888;
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-family: 'Poppins', serif;
  border-radius: 45px;
  line-height: 1.7em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  padding: 12px 45px;
}

.woocommerce input[type='button']:not(.edgtf-btn):hover,
.woocommerce-page input[type='button']:not(.edgtf-btn):hover,
.woocommerce input[type='submit']:not(.edgtf-btn):hover,
.woocommerce-page input[type='submit']:not(.edgtf-btn):hover {
  background-color: #ffc000;
  color: #000;
  border-color: #ffc000;
}

/* ==========================================================================
# Woocommerce style - end
========================================================================== */
/* ==========================================================================
# Select 2 - begin
========================================================================== */
/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
	  Force border-box so that % widths fit the parent
	  container without overlap because of margin/padding.
	  More Info : http://www.quirksmode.org/css/box.html
	*/
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

.select2-container .select2-choice .select2-arrow {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  line-height: inherit;
  text-align: center;
}

.select2-container .select2-choice .select2-arrow b {
  display: none;
}

.select2-container .select2-choice .select2-arrow:before {
  font-family: 'ElegantIcons';
  content: "\33";
  font-size: 17px;
}

html[dir="rtl"] .select2-container .select2-choice {
  padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 40px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
  margin-left: 26px;
  margin-right: 0;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

/*.select2-container .select2-choice .select2-arrow {
	display: inline-block;
	width: 18px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	border-left: 1px solid #aaa;
	border-radius: 0 4px 4px 0;

	background-clip: padding-box;

	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
	background-image: linear-gradient(to top, #ccc 0%, #eee 60%);
}*/
html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid #aaa;
  border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
  background-position: 2px 1px;
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 4px 4px 0 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html[dir="rtl"] .select2-search input {
  padding: 4px 5px 4px 20px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
  border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -16px 1px;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

html[dir="rtl"] .select2-results {
  padding: 0 4px 0 0;
  margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px;
}

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px;
}

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px;
}

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px;
}

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px;
}

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px;
}

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, 0.2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

html[dir="rtl"] .select2-container-multi .select2-choices {
  padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}

html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
  left: auto;
  right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}

/* Woocommerce Select2 override - begin
========================================================================== */
.edgtf-woocommerce-page {
  /*.select2-container .select2-choice .select2-arrow {
		width: 20px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		border-left: none;
		border-radius: 0;
		background: transparent;
		background-image: none;
	}

	.select2-container .select2-choice .select2-arrow b:after {
		color: $first-main-color;
		content: '\f107';
		font-family: 'FontAwesome',serif;
		font-size: 14px;
		height: 100%;
		line-height: 40px;
		position: absolute;
		text-align: center;
		top: 0;
		left: auto;
		width: 100%;
		margin: 0;
		border: none;
	}*/
}

.edgtf-woocommerce-page .select2-container .select2-choice {
  height: 50px;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  line-height: 50px;
  color: #888;
  border-radius: 0;
  background-image: none;
}

.edgtf-woocommerce-page .select2-container-active .select2-choice,
.edgtf-woocommerce-page .select2-container-active .select2-choices {
  border: 1px solid #e9e9e9;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edgtf-woocommerce-page .select2-drop-active {
  border: 1px solid #e9e9e9;
}

.edgtf-woocommerce-page .select2-drop {
  background-color: #fcfcfc;
  color: #7f8385;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edgtf-woocommerce-page .woocommerce-ordering .orderby {
  float: right;
  width: 210px;
}

.edgtf-woocommerce-page select.orderby {
  display: none;
}

.edgtf-woocommerce-page .edgtf-shipping-calculator .country_to_state {
  width: 100%;
}

.edgtf-woocommerce-page .select2-search input {
  background-image: none;
  position: relative;
}

.edgtf-woocommerce-page .select2-results {
  background-color: #fcfcfc;
}

/* Woocommerce Select2 override - end
========================================================================== */
/* ==========================================================================
# Select 2 - end
========================================================================== */
/*===========================================================
# Woocommerce star-rating
==============================================================*/
.star-rating {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 1.1em;
  line-height: 1em;
  font-size: 12px;
  width: 8.25em;
  font-family: 'star';
  color: #757575;
  vertical-align: middle;
}

.star-rating:before {
  content: "\73\00a0\00a0\73\00a0\00a0\73\00a0\00a0\73\00a0\00a0\73";
  position: absolute;
  top: 0;
  left: 0;
}

.star-rating span {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.5em;
}

.star-rating span:before {
  content: "\53\00a0\00a0\53\00a0\00a0\53\00a0\00a0\53\00a0\00a0\53";
  position: absolute;
  top: 0;
  left: 0;
}

.stars {
  height: 11px;
}

.comment-form-rating .stars span {
  width: 80px;
  height: 11px;
  position: relative;
  float: left;
  background: url(img/star.png) repeat-x left 0;
}

.comment-form-rating .stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

.comment-form-rating .stars span a.star-1 {
  width: 16px;
  z-index: 10;
}

.comment-form-rating .stars span a.star-2 {
  width: 32px;
  z-index: 9;
}

.comment-form-rating .stars span a.star-3 {
  width: 48px;
  z-index: 8;
}

.comment-form-rating .stars span a.star-4 {
  width: 64px;
  z-index: 7;
}

.comment-form-rating .stars span a.star-5 {
  width: 80px;
  z-index: 6;
}

.comment-form-rating .stars span a:hover,
.comment-form-rating .stars span a:focus,
.comment-form-rating .stars span a.active {
  background: url(img/star.png) repeat-x left -16px;
}

/*===========================================================
# Woocommerce star-rating - end
==============================================================*/
/*===========================================================
#Woocommmerce review form -start
=============================================================*/
.commentlist {
  list-style: none;
}

.comment_container {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 55px;
  border-bottom: 1px solid #d9d9d9;
}

.edgtf-rating-wrapper {
  position: absolute;
  right: 0;
}

.comment-text,
.edgtf-product-comment-meta {
  display: inline-block;
  vertical-align: top;
}

.edgtf-product-comment-meta {
  margin-bottom: 10px;
}

.comment-text {
  margin-bottom: 8px;
}

.edgtf-product-comment-date {
  font-size: 12px;
}

.edgtf-product-comment-author {
  font-size: 18px;
  line-height: 1em;
  color: #000;
  display: block;
  margin-bottom: 2px;
}

.avatar {
  float: left;
  padding-right: 24px;
}

#reply-title {
  font-size: 18px;
  line-height: 1.55;
  text-transform: none;
}

.comment-form-rating label {
  color: #000;
  font-weight: 600;
  padding-right: 15px;
}

.comment-form-rating .stars {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/*===========================================================
#Woocommmerce review form - end
=============================================================*/
/*===========================================================
#Cart & Checkout page
=============================================================*/
.wc-proceed-to-checkout {
  text-align: right;
}

.woocommerce-account .woocommerce h3 {
  margin-bottom: 23px;
}

.edgtf-categories-holder {
  color: #ffc000;
}

.edgtf-categories-holder a {
  color: inherit;
}

.woocommerce-cart .woocommerce {
  padding: 30px 0 40px;
}

.woocommerce-cart .edgtf-update-cart {
  width: 50%;
  display: inline-block;
  float: right;
  text-align: right;
}

.woocommerce-cart .edgtf-apply-coupon {
  width: 50%;
  display: inline-block;
  float: left;
}

.woocommerce-cart .edgtf-quantity-buttons {
  left: 7.5px;
}

.woocommerce-cart .product-thumbnail {
  width: 14%;
  text-align: left;
  padding-left: 18px;
}

.woocommerce-cart .product-name {
  width: 16%;
  text-align: left;
}

.woocommerce-cart .product-price {
  width: 21%;
}

.woocommerce-cart .product-quantity {
  width: 18%;
}

.woocommerce-cart .product-subtotal {
  width: 26%;
}

.woocommerce-cart .product-remove {
  width: 5%;
}

.woocommerce-cart .remove {
  font-size: 21px;
  color: #959595;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.woocommerce-cart .remove:hover {
  color: #ffc000;
}

.woocommerce-cart .shop_table thead {
  border: 1px solid #d9d9d9;
  background-color: #fcfcfc;
}

.woocommerce-cart .shop_table.cart {
  margin-bottom: 40px;
}

.woocommerce-cart .cart_item {
  background-color: #fcfcfc;
}

.woocommerce-checkout .woocommerce {
  padding: 30px 0 40px;
}

.woocommerce-checkout .shop_table th,
.woocommerce-checkout .shop_table td {
  text-align: left;
  padding: 15px 7px 15px 30px;
}

.woocommerce-checkout .shop_table tfoot {
  background-color: #fcfcfc;
  border: 1px solid #d9d9d9;
}

.woocommerce-checkout .shop_table tfoot th {
  font-size: 18px;
  font-weight: 600;
}

.woocommerce-checkout .shop_table .amount {
  font-size: 18px;
  font-weight: 500;
}

.woocommerce-checkout .shop_table .order-total th,
.woocommerce-checkout .shop_table .product-name,
.woocommerce-checkout .shop_table thead .product-total {
  font-weight: 600;
  color: #1b0101;
}

.woocommerce-checkout .shop_table thead .product-name,
.woocommerce-checkout .shop_table thead .product-total {
  font-size: 18px;
}

.woocommerce-checkout #order_review_heading {
  margin-bottom: 30px;
  margin-top: 34px;
  text-transform: none;
  font-size: 18px;
}

.wc_payment_methods,
#shipping_method {
  list-style: none;
}

#shipping_method {
  margin-top: 0;
}

/*==========================================================
#Widgets start
=============================================================*/
.woocommerce.widget {
  font-family: "Poppins",serif;
  margin-bottom: 21px;
}

.woocommerce.widget:last-child {
  margin-bottom: 0;
}

.woocommerce.widget .price_slider_wrapper {
  margin-top: 6px;
}

.woocommerce.widget span.amount,
.woocommerce.widget del span.amount {
  font-weight: 400;
}

.woocommerce.widget:not(.widget_layered_nav) ul:not(.product-categories) li {
  padding-left: 0;
}

.woocommerce.widget:not(.widget_layered_nav) ul:not(.product-categories) li:before {
  display: none;
}

.woocommerce.widget .quantity {
  font-size: 21px;
}

.woocommerce.widget .total {
  margin: 10px 0 10px;
}

.woocommerce.widget .buttons:after, .woocommerce.widget .buttons:before {
  content: '';
  display: table;
}

.woocommerce.widget .buttons:after {
  clear: both;
}

.woocommerce.widget .buttons .wc-forward {
  text-transform: uppercase;
  font-weight: 500;
}

.woocommerce.widget .buttons .wc-forward:first-child {
  float: left;
}

.woocommerce.widget .buttons .wc-forward:last-child {
  float: right;
}

.woocommerce.widget input[type=submit],
.woocommerce.widget button {
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 25px;
  font-size: 11px;
  line-height: 1.7em;
  text-transform: uppercase;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  color: #000;
  border-radius: 40px;
  cursor: pointer;
}

.woocommerce.widget input[type=submit]:hover,
.woocommerce.widget button:hover {
  color: #fff;
  background-color: #212121;
  border-color: #212121;
}

.woocommerce.widget input[type=search] {
  width: 100%;
  outline: none;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  line-height: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 0 52px 0 25px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  font-family: Poppins, serif;
}

.woocommerce.widget.widget_product_search .edgtf-product-search-form {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  font-family: "ElegantIcons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  background: transparent;
  padding: 0;
  border-radius: 0;
  letter-spacing: normal;
}

.woocommerce.widget .edgtf-product-search {
  font-size: 0;
  position: relative;
}

.woocommerce.widget.widget_product_tag_cloud .edgtf-separator {
  margin-bottom: 20px;
}

.woocommerce.widget.widget_price_filter .edgtf-separator {
  margin-bottom: 28px;
}

.widget_recent_reviews li,
.product_list_widget li,
.widget_shopping_cart li {
  margin-bottom: 26px;
  padding-bottom: 0 !important;
}

.widget_recent_reviews li:before, .widget_recent_reviews li:after,
.product_list_widget li:before,
.product_list_widget li:after,
.widget_shopping_cart li:before,
.widget_shopping_cart li:after {
  content: " ";
  display: table;
}

.widget_recent_reviews li:after,
.product_list_widget li:after,
.widget_shopping_cart li:after {
  clear: both;
}

.widget_recent_reviews li img,
.product_list_widget li img,
.widget_shopping_cart li img {
  float: left;
  padding-right: 15px;
  width: 95px;
}

.widget_recent_reviews li .star-rating,
.product_list_widget li .star-rating,
.widget_shopping_cart li .star-rating {
  display: block;
  margin-bottom: 15px;
}

.widget_recent_reviews li .product-title,
.widget_recent_reviews li > a,
.product_list_widget li .product-title,
.product_list_widget li > a,
.widget_shopping_cart li .product-title,
.widget_shopping_cart li > a {
  display: block;
  line-height: 1em;
  color: #1b0101;
  font-weight: 500;
  margin-bottom: 15px;
}

.widget_recent_reviews li .product-title:after,
.widget_recent_reviews li > a:after,
.product_list_widget li .product-title:after,
.product_list_widget li > a:after,
.widget_shopping_cart li .product-title:after,
.widget_shopping_cart li > a:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 8px;
  right: 0;
  height: 1px;
  width: calc(100% - 95px - 15px);
  border-bottom: 1px dashed #ddd;
}

.widget_recent_reviews li a.remove,
.product_list_widget li a.remove,
.widget_shopping_cart li a.remove {
  float: right;
  font-size: 18px;
}

.product_list_widget li > .amount {
  font-size: 16px;
}

.product_list_widget li ins .amount {
  font-size: 18px;
}

.widget_price_filter .ui-slider-horizontal {
  height: 4px;
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}

.widget_price_filter .price_slider {
  margin-bottom: 35px;
  margin-right: 10px;
}

.widget_price_filter .ui-widget-content {
  background-color: #e7e6e4;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-color: #ffc000;
  top: 0;
  height: 100%;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 13px;
  cursor: pointer;
  outline: 0;
  top: -4.5px;
  border-radius: 10px;
  background-color: #d9d9d9;
  margin-left: -3px;
}

.widget_price_filter .price_slider_amount .price_label {
  display: inline-block;
  line-height: 45px;
  height: 45px;
  float: right;
  font-size: 16px;
  text-transform: uppercase;
  color: #1b0101;
}

/*==========================================================
#Widgets end
=============================================================*/
/* Woocommerce 2.6 My Account Page */
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 30%;
  padding: 0 30px 0 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #e1e1e1;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
  color: #ffc000;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  font-weight: 600;
  color: #0e0e0e;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
  color: #ffc000;
}

.woocommerce-account .woocommerce-MyAccount-content {
  width: 70%;
  padding: 0 0 0 30px;
}

.woocommerce-account .woocommerce h2 {
  margin-bottom: 15px;
}

.woocommerce-account .woocommerce .col2-set {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .woocommerce-account .woocommerce .col2-set {
    width: 100%;
    float: none;
  }
}

.woocommerce-account .woocommerce .col2-set .col-1,
.woocommerce-account .woocommerce .col2-set .col-2 {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .woocommerce-account .woocommerce .col2-set .col-1,
  .woocommerce-account .woocommerce .col2-set .col-2 {
    width: 100%;
    float: none;
  }
}

.woocommerce-account .woocommerce input[type=text],
.woocommerce-account .woocommerce input[type=email],
.woocommerce-account .woocommerce input[type=tel],
.woocommerce-account .woocommerce textarea {
  width: 100%;
  outline: 0;
  font-family: #0e0e0e;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #fbfbfc;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform border-color 0.2s ease-out;
  transition: transform border-color 0.2s ease-out;
  resize: none;
}

.woocommerce-account .woocommerce input[type=text]:focus,
.woocommerce-account .woocommerce input[type=email]:focus,
.woocommerce-account .woocommerce input[type=tel]:focus,
.woocommerce-account .woocommerce textarea:focus {
  border-color: #ffc000;
}

.woocommerce-account .qodef-comment-holder {
  clear: both;
}

/* Woocommerce 2.6 My Account Page end */

/*# sourceMappingURL=woocommerce.css.map */